body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.base-image,
.overlay-image {
/*     width: 300px;
    height: 300px; */
    display: block;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

/* styles.css */
.image-wrapper {
    position: relative;
}

.image-wrapper:first-child {
    margin-right: 20px;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
