<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Overlay</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/script.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="image-wrapper">
            <div class="text-overlay">Training set images</div>
            <img class="base-image" src="/static/img/train.png" alt="Image 1">
            <img class="overlay-image" src="/static/img/overlay1.png" alt="Overlay 1" onclick="handleClick(event)">
        </div>
        <div class="image-wrapper">
            <div class="text-overlay">Test set images</div>
            <img class="base-image" src="/static/img/val.png" alt="Image 2">
            <img class="overlay-image" src="/static/img/overlay2.png" alt="Overlay 2">
        </div>
    </div>
</body>
</html>
